* {
  margin: 0;
}

.container {
    position: relative;
}
.poster {
  opacity: .2;
}

.tool-tip {
  position: absolute;
  background-color: white;
  padding: 8px;
  pointer-events: none;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 16px;
}
